.container {
    display: flex;
    padding: 0;
    width: 100%;
}
.back-button {
    padding-top: 20px;
    margin-right: 20px;
}
.back-button button {
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    background-color: rgb(56, 123, 199);
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.container-form {
   width: 50%;
   padding-top: 5px;
   margin-bottom: 30px;
}
.container-form h1 {
    margin-bottom: 30px;
}
form {
    display: flex;
    flex-direction: column;
}

form textarea {
    margin-bottom: 5px;
    border-color: darkgray;
}
form label {
    margin-bottom: 5px;
    font-weight: bold;
}
form input,
form select {
    margin-bottom: 10px;
}
.newAttribute {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.newAttribute input {
    background-color: rgb(219, 213, 213);
    border: 1px solid grey;
    border-radius: 2px;
}
.attribute {
    display: flex;
    width: 100%;
}
.attValue {
    margin-left: 15px;
}
.file {
    border: 1px solid gray;
    border-radius: 2px;
}
form button {
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    background-color: rgb(56, 123, 199);
    width: 80px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}