.Footer{
    width: 100%;
    height: 40vh;
    background-color: #285c7c;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.MainPart{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items:space-around;
}
.Menu1{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }
    .Logo1{
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 600;
    }
    .Menu1>ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
    .Menu1 li{
        font-size: 1.3rem;
    }
    .Menu1 a{
        text-decoration: none;
        color: white;
        font-weight: 500;
        transition: 1.2s;
    }
    .Menu1 a:hover{
        color: #285c7c;
    }
    .Menu1 a:active{
        color: #285c7c;
    }
    .contact{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        }
        .contact>ul{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 20px;
        }
        .contact li{
            font-size: 1.3rem;
        }
        .contact a{
            text-decoration: none;
            color: white;
            font-weight: 500;
            transition: 1.2s;
        }
        .contact a:hover{
            color: #285c7c;
        }
        .contact a:active{
            color: #285c7c;
        }
    .Copyright{
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        color: white;
    }