.StoreInfo{
    width: 100%;
    height: 45vh;
    background-color: white;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.StoreInfo>div{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.StoreInfo>div>h2{
    font-size: 1.8rem;
    color: #285c7c;
    font-weight: 600;
}
.StoreInfo>div>h3{
    font-size: 1.4rem;
}
.icon{
    font-size: 80px;
    color: #285c7c;
}